@import "tailwindcss";

@theme {
  --color-background: #0f0f12;
  --color-surface: #18181c;
  --color-accent: #007bff;
  --color-accent-light: #00b7ff;
  --color-text: #f1f1f1;
  --shadow-glow: 0 0 20px rgba(0, 123, 255, 0.15);
}

body {
  background: theme(colors.background);
  color: theme(colors.text);
  font-family: Inter, sans-serif;
  @apply antialiased;
}

input,
textarea {
  @apply w-full bg-[#1f1f23] border border-[#2c2c30] rounded-lg px-3 py-2 focus:ring-2 focus:ring-accent-light outline-none transition;
}

button {
  @apply w-full bg-linear-to-r from-accent-light to-accent text-white font-semibold py-2 rounded-lg hover:opacity-90 transition;
}
